* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 12rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background-color: rgb(209, 196, 255);
    justify-content: center;
}

form div {
    display: flex;
    flex-direction: column;
}
input {
    padding: 0.5rem;
}

body  {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
}

h3 {
    font-weight: 500;
}
button {

    
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    
}

button :hover {
    background-color: rgb(118, 166, 206);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
}

li img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
 